apiVersion: v1
kind: Secret
metadata:
  name: skkuding-lab-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com/skkuding/lab
