# OpenTelemetry Collector Helm chart values
# https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector

mode: deployment

extraObjects:
  - apiVersion: monitoring.coreos.com/v1
    kind: ServiceMonitor
    metadata:
      name: otel-collector
      labels:
        release: prometheus
    spec:
      selector:
        matchLabels:
          app.kubernetes.io/name: opentelemetry-collector
      endpoints:
        - port: metrics
          interval: 30s

replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib

ports:
  otlp:
    enabled: true
    containerPort: 4317
    servicePort: 4317
    protocol: TCP
  otlp-http:
    enabled: false
  metrics:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

  processors:
    batch:
      timeout: 10s
      send_batch_size: 512

  exporters:
    otlphttp/logs:
      endpoint: http://loki.observability.svc.cluster.local:3100/otlp
      tls:
        insecure: true
      headers:
        X-Scope-OrgID: "1"

    prometheus:
      endpoint: "0.0.0.0:8889"
      resource_to_telemetry_conversion:
        enabled: true

    otlp/trace:
      endpoint: "tempo.observability.svc.cluster.local:4317"
      tls:
        insecure: true

  service:
    telemetry:
      metrics:
        readers:
          - pull:
              exporter:
                prometheus:
                  host: "0.0.0.0"
                  port: 8888
    pipelines:
      logs:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlphttp/logs]
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheus]
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/trace]