apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://charts.external-secrets.io
      chart: external-secrets
      targetRevision: 0.17.0
      helm:
        releaseName: external-secrets
        valueFiles:
          - $lab/k8s/external-secrets/values.yaml
    - repoURL: https://github.com/skkuding/lab
      targetRevision: main
      ref: lab
    - repoURL: https://github.com/skkuding/lab
      targetRevision: main
      path: k8s/external-secrets
      directory:
        include: "{aws-credentials.yaml,cluster-secret-store.yaml}"
  ignoreDifferences:
    - group: external-secrets.io
      kind: ClusterSecretStore
      managedFieldsManagers:
        - external-secrets
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 5m