apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: proseed
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - repoURL: https://github.com/skkuding/proseed
      targetRevision: main
      path: infra/k8s
      directory:
        recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: proseed
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true